.intro {
  .carousel-item {
    height: 88vh;
    img {
      height: 100%;
    }
    .carousel-caption {
      top: 38%;
      transform: translateY(-50%);
      text-align: left;
      h3 {
        @include text(85px, 700, $secondary-color);
        text-transform: uppercase;
        line-height: 0.99em;
        letter-spacing: -0.8px;
      }
    }
  }
}
.last-games {
  margin-top: 65px;
  .games-content {
    margin-top: 50px;
  }
}
.game-detail {
  .game-detail-header {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #03090d 100%);
    }
    .header-title {
      position: absolute;
      width: 100%;
      top: 65%;
      z-index: 5;
      .title {
        margin-top: 25px;
        h1 {
          @include text(78px, 700, $secondary-color);
          text-transform: uppercase;
        }
      }
    }
  }
  .game-detail-content {
    margin-top: 50px;
    .description {
      font-family: $secondary-font;
      p {
        color: $paragraph-color;
        &:first-child {
          @include text(19px, 400, $secondary-color);
          &::first-letter {
            font-size: 74px;
            margin-right: 22px;
            float: left;
            text-align: center;
            line-height: 1;
          }
        }
        strong {
          color: $secondary-color;
        }
      }
      h4 {
        color: $secondary-color;
      }
    }
    .video-player {
      margin-top: 35px;
    }
    .details {
      font-family: $secondary-font;
      padding-left: 35px;
      h2 {
        @include text(13px, 700, $heading-color);
      }
      p {
        color: $paragraph-color;
      }
      .details-item {
        &:not(:first-child) {
          margin-top: 35px;
        }
      }
      .platforms-box {
        .platform-items {
          display: flex;
          .platform-item {
            margin-top: 10px;
            &:not(:first-child) {
              padding-left: 20px;
            }
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
    .more-games {
      margin-top: 65px;
      .more-games-content {
        margin-top: 50px;
      }
    }
  }
}
.newsletter {
  margin-top: 80px;
  .newsletter-content {
    .newsletter-content-description {
      margin-top: 30px;
      .description {
        font-family: $secondary-font;
        @include text(15px, 400, $paragraph-color);
      }
    }
  }
  .newsletter-form {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    .form-box {
      width: 100%;
      .email-input {
        background: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $secondary-color;
        padding-left: 0;
        height: 100%;
      }
      .btnBox {
        .btn {
          font-family: $btn-font;
          @include btn(13px 14px, $secondary-color, 12px, 700, none);
          color: $primary-color;
          border-radius: 0;
          &:hover {
            @include btnHover($secondary-color);
          }
        }
      }
    }
  }
}
.our-company {
  height: 730px;
  padding-top: 65px;
  margin-top: 75px;
  .content-title {
    margin-top: 35px;
    h1 {
      @include text(82px, 700, $secondary-color);
    }
  }
  .content-description {
    font-family: $secondary-font;
    p {
      @include text(18px, 400, $paragraph-color);
    }
  }
  .linkBox {
    margin-top: 15px;
    a {
      @include text(15px, 700, $third-color);
      font-family: $btn-font;
      transition: all 0.3s;
      &:hover {
        text-decoration: none;
        color: $text-color;
      }
    }
  }
}
.banner-wrapper {
  position: relative;
  top: -145px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #03090d 100%);
  }
  .text-container {
    position: absolute;
    width: 100%;
    top: 45%;
    z-index: 5;
    .title {
      margin-top: 25px;
      h1 {
        @include text(78px, 700, $secondary-color);
        text-transform: uppercase;
      }
    }
    .description {
      font-family: $secondary-font;
      p {
        @include text(18px, 400, $secondary-color);
      }
    }
  }
}

.studio-wrapper {
  .studio-content {
    height: 770px;
    margin-bottom: 30px;
    .content-title {
      margin-top: 35px;
      h1 {
        @include text(82px, 700, $secondary-color);
      }
    }
    .content-description {
      font-family: $secondary-font;
      p {
        @include text(18px, 400, $paragraph-color);
      }
    }
  }
  .team-members-content {
    .team-members-content-header {
      margin-bottom: 60px;
    }
    .team-member-card {
      .card {
        border: none;
        border-radius: 0;
        img {
          border-radius: 0;
        }
        .overlay-text {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          border-radius: 0;
          padding-bottom: 35px;
          .card-heading {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              height: 3px;
              width: 20%;
              background-color: $third-color;
              bottom: -10px;
              left: 0;
            }
            .card-title {
              font-family: $secondary-font;
              margin-bottom: 5px;
            }
            .strong-title {
              @include text(40px, 600, $secondary-color);
            }
            .small-title {
              @include text(25px, 600, $secondary-color);
            }
          }
          .card-text {
            font-family: $btn-font;
            @include text(15px, 700, $third-color);
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-top: 20px;
          }
        }
      }
    }
  }
}
.team-member-detail-wrapper {
  .team-member-detail-content-wrapper {
    .team-member-detail-content {
      font-family: $secondary-font;
      padding-top: 60px;
      .fullname {
        border-bottom: 1px solid $border-color;
        h1 {
          @include text(40px, 700, $secondary-color);
          padding-bottom: 15px;
          margin-bottom: 0;
        }
      }
      .position {
        font-family: $btn-font;
        border-bottom: 1px solid $border-color;
        h4 {
          @include text(24px, 700, $third-color);
          padding: 15px 0;
          margin-bottom: 0;
        }
      }
      .description {
        border-bottom: 1px solid $border-color;
        p {
          color: $paragraph-color;
          font-weight: 600;
          padding: 15px 0;
          margin-bottom: 0;
        }
      }
      .social-medias {
        padding-top: 15px;
        a {
          @include text(23px, 400, $link-color);
          transition: all 0.3s;
          &:hover {
            text-decoration: none;
            color: $secondary-color;
          }
          i {
            padding-right: 15px;
          }
        }
      }
    }
  }
}
.our-games-wrapper {
  .game-content-wrapper {
    .category-wrapper {
      .btn {
        @include btn(10px 22px, transparent, 18px, 400, none);
        color: $link-color;
        border-radius: 3px;
        line-height: 1;
        &:not(:last-child) {
          margin-right: 25px;
        }
        &:focus {
          box-shadow: none;
        }
      }
      .active {
        background-color: $heading-color;
        color: $secondary-color;
      }
    }
    .games-wrapper {
      margin-top: 45px;
      .load-more-box {
        @include flexy-box();
        .load-more {
          margin-top: 35px;
          @include btn(15px 30px, $third-color, 13px, 700, none);
          color: $text-color;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
.contact-wrapper {
  .contact-content-wrapper {
    .info-card-wrapper {
      border: 1px solid $second-border-color;
      margin-bottom: 35px;
      padding: 45px 50px;
      background-color: $card-bg-color;
      box-shadow: 0 0 50px rgba(41, 48, 55, 0.15);
      .section-heading {
        font-family: $btn-font;
        h2 {
          @include text(15px, 700, $third-color);
          text-transform: uppercase;
          letter-spacing: 1.5px;
        }
        &::after {
          width: 7%;
          height: 2px;
          bottom: -20px;
        }
      }
      .content {
        font-family: $secondary-font;
        padding-top: 30px;
        display: flex;
        .icon-box {
          @include flexy-box();
          i {
            @include text(18px, 500, $third-color);
          }
        }
        p {
          @include text(18px, 500, $secondary-color);
          padding-left: 15px;
          margin-bottom: 0;
        }
        .social-icon {
          @include text(20px, 600, $link-color);
          transition: all 0.3s;
          &:not(:first-child) {
            padding-left: 18px;
          }
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
    .contact-chat {
      background-color: $bg-color;
      padding: 90px 15px;
      h1 {
        @include text(60px, 700, $secondary-color);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 80px;
      }
      .form-group {
        margin-top: 40px;
      }
      .form-control {
        background: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $secondary-color;
        padding-left: 0;
        height: 100%;
      }
      .btn {
        @include btn(20px 35px, $third-color, 13px, 700, none);
        border-radius: 3px;
        color: $text-color;
        margin-top: 15px;
        outline: none;
        box-shadow: none;
        &:hover {
          @include btnHover($third-color);
        }
        .spinner-border {
          margin-right: 5px;
        }
      }
      .btn-disabled {
        cursor: default;
        opacity: 0.6;
        outline: none;
        box-shadow: none;
        &:hover {
          background-color: $third-color;
          color: $text-color;
        }
      }
    }
  }
}
.blog-wrapper {
  .blog-content-wrapper {
    .blog-card-wrapper {
      .card {
        border: 2px solid $second-border-color;
        border-radius: 0;
        background-color: $card-bg-color;
        box-shadow: 0 0 50px rgba(41, 48, 55, 0.15);
        margin-bottom: 15px;
        img {
          border-radius: 0;
          height: 350px;
        }
        .card-body {
          padding: 50px 50px 15px 50px;
          .card-title {
            a {
              @include text(34px, 700, $secondary-color);
              line-height: 1.3;
              transition: all 0.5s;
              &:hover {
                text-decoration: none;
                color: $third-color;
              }
            }
          }
          .card-text {
            font-family: $secondary-font;
            color: $link-color;
            margin-bottom: 20px;
            margin-top: 30px;
          }
        }
        .card-footer {
          padding: 0 50px 35px;
          border-top: 0;
          font-family: $secondary-font;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 15px;
          }
          .card-footer-item {
            &:not(:last-child) {
              border-right: 1px solid $secondary-color;
            }
          }
          a {
            &:hover {
              text-decoration: none;
            }
          }
          .author-name {
            margin-right: 10px;
            color: $secondary-color;
            transition: all 0.5s;
            &:hover {
              color: $third-color;
            }
          }
          .date {
            margin-left: 10px;
            color: $secondary-color;
          }
        }
      }
    }
    .pagination-box {
      margin-top: 40px;
      @include flexy-box();
      .pagination {
        .page-item {
          font-family: $secondary-font;
          border: none;
          span,
          a {
            border: none;
            border-radius: 3px !important;
            font-weight: 700;
            padding: 10px 17px;
          }
          a {
            transition: all 0.5s;
            background-color: $bg-color;
            color: $paragraph-color;
            &:hover {
              background-color: $secondary-color;
              color: $primary-color;
            }
          }
          span {
            background-color: $third-color;
            color: $primary-color;
          }
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }
    .search-box {
      position: sticky;
      background-color: $bg-color;
      padding: 20px 80px 20px 40px;
      top: 12%;
      .form-group {
        margin-bottom: 0;
        input {
          background-color: transparent;
          border-radius: 0;
          border: none;
          font-family: $secondary-font;
          &:focus {
            box-shadow: none;
          }
          &::placeholder {
            @include text(15px, 400, $secondary-color);
          }
          color: $secondary-color;
        }
      }
      .icon-box {
        position: absolute;
        background-color: $secondary-color;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        @include flexy-box();
        top: 22px;
        right: 30px;
      }
    }
  }
}
.blog-detail-wrapper {
  .blog-detail-header {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #03090d 100%);
    }
    img {
      width: 100%;
    }
    .header-title {
      position: absolute;
      width: 100%;
      top: 50%;
      z-index: 5;
      .title {
        margin-top: 25px;
        h1 {
          @include text(60px, 700, $secondary-color);
          text-transform: uppercase;
        }
      }
      .footer {
        font-family: $secondary-font;
        margin-top: 20px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 15px;
        }
        .card-footer-item {
          &:not(:last-child) {
            border-right: 1px solid $secondary-color;
          }
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
        .author-name {
          margin-right: 10px;
          color: $secondary-color;
          transition: all 0.5s;
          &:hover {
            color: $third-color;
          }
        }
        .date {
          margin-left: 10px;
          color: $secondary-color;
        }
      }
    }
  }
  .blog-detail-content {
    margin-top: 30px;
    font-family: $secondary-font;
    color: $paragraph-color;
    p {
      @include text(15px, 400, $paragraph-color);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $secondary-color;
    }
    a {
      color: $third-color;
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      padding-left: 30px;
      color: $paragraph-color;
    }
  }
}
