body {
  background-color: $primary-color;
  font-family: $primary-font;
  ::-moz-selection {
    color: $secondary-color;
    background: $selection-color;
  }

  ::selection {
    color: $secondary-color;
    background: $selection-color;
  }

  ::selection {
    color: $secondary-color;
    background: $selection-color;
  }

  .section-heading {
    position: relative;
    @include text(30px, 700, $secondary-color);
    text-transform: uppercase;
    &::after {
      letter-spacing: 1px;
      content: "";
      position: absolute;
      height: 3px;
      width: 10%;
      background-color: $border-color;
      bottom: -15px;
      left: 0;
    }
  }

  .game-card {
    position: relative;
    border: 2px solid $second-border-color;
    border-radius: 0;
    background-color: $card-bg-color;
    box-shadow: 0 0 50px rgba(41, 48, 55, 0.15);
    margin-bottom: 15px;
    .category-btn {
      position: absolute;
      right: 3%;
      top: 3%;
    }
    img {
      height: 210px;
      border-radius: 0;
      border-color: $second-border-color;
      cursor: pointer;
    }
    .card-body {
      padding: 35px 40px 20px 40px;
      font-family: $secondary-font;
      .card-title {
        .heading {
          @include text(24px, 700, $secondary-color);
          line-height: 1.3;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
        margin-bottom: 18px;
      }
      .card-text {
        color: $link-color;
        margin-bottom: 30px;
      }
      .btn {
        font-family: $btn-font;
        @include btn(16px 20px, $button-color, 12px, 400, none);
        line-height: 1;
        letter-spacing: 0.05em;
        &:hover {
          @include btnHover($button-color);
        }
      }
    }
  }

  .category-btn {
    font-family: $btn-font;
    @include btn(11px 12px 10px 12px, $third-color, 12px, 700, none);
    line-height: 1;
    letter-spacing: 0.05em;
    color: $text-color;
    &:hover {
      @include btnHover($third-color);
    }
  }

  .form-box {
    .form-control {
      &:focus {
        box-shadow: none;
        border-bottom: 1px solid $third-color !important;
      }
      &::placeholder {
        font-family: $btn-font;
      }
      color: $secondary-color;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px $bg-color inset !important;
    -webkit-text-fill-color: $secondary-color;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: $secondary-color;
  }
}
